
/* footer*/
footer{
    justify-content:space-around;
    width: 100%;
    padding: 20px 20px;
    display: flex;
}
footer a{
    width: 100%;
    padding: 20px 20px;
    text-justify:distribute-all-lines;}
h3{
    font-size:10px;
    font-family: 'Tenor Sans', sans-serif;;
     padding: 20px 20px
}

.logoinsta{
    width:30px;
    height: auto;
    background-color: #e4c082;
}

.logoface{
    width: 30px;
    height: auto;
}


