/*html index */

h1{
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    font-size: 35px;
    margin: 20px 20px;
    padding: 15px 15px;
}
h2{
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    font-size: 25px;
    margin: 20px 20px;
    padding: 15px 15px;
}
p{
    font-family: 'Indie Flower', cursive;
    text-align: center;
    word-spacing: 5px;
    font-weight: bolder;
    margin: 20px 20px;
    padding: 15px 15px;
}

.logo-re-bei {
    display: flex;
    justify-content: center;
    background:$imagenesTranspa;
}
.fotologoP{
    background: $imagen;
    opacity: 0;
    animation: fadeInOut 30s infinite alternate;
    @keyframes fadeInOut {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
}
.carrucel{
    margin: 20px auto;
    display: grid;
    justify-content: center;
    width: min-content;
    box-shadow:$imagenSueltas;
}



