/*bodys*/

body{
    background-color: #e4c082;
}

*{
    padding: 0;
    margin: 0;
}

/*fuente google*/
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Kaushan+Script&display=swap');
/*titulos*/
@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');
/* footer*/
@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');